
svg[fit]{
	width: 100%;
}

.rivela .basement{
	fill:#fff;
}

.rivela .background{
	fill:#eee;
}

.rivela .area{
	fill:#333;
}

.rivela .line{
	fill:none;
	stroke:#333;
}


.rivela .chart text{
	dominant-baseline: central;
}

.rivela .item .label{
	text-anchor: middle;
	fill:#333;
	font-size: 8px;
	font-family: sans-serif;
}

.rivela .mid_label{
	text-anchor: middle;
	dominant-baseline: central;
	font-size: 20px;
	fill:#000;
}

.rivela .ax line, 
.rivela .ax path{
	stroke:#999;
	fill:none;
	shape-rendering: crispEdges;	
}

.rivela  text,
.rivela text{
	fill:#999;
	font-size: 9px;
	font-family: sans-serif;
}

.rivela .title text{
	fill:#333;
	font-size: 12px;
	text-anchor: middle;
}


.rivela.naked .ax,
.rivela.naked .label,
.rivela.naked .title,
.rivela.naked .back,
.rivela.naked .behind{
	display: none;
}
